{{!-- pages/index.hbs --}}

{{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent" description="Styleguide for the course Mobile Development I" }}

  {{#*inline "head-block"}}
    <link rel="stylesheet" media="all" href="../assets/css/main.css">
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="article">
            <h1>This is the styleguide.</h1>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
    <!-- build:js assets/js/main.min.js -->
    <script src="../assets/js/main.js"></script>
    <!-- endbuild -->
  {{/inline}}

{{/layouts/base}}